################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiGateway.slnx/FileContentIndex
/.vs/ApiGateway.slnx
/ApiGateway
/ApiGateway/obj
/ApiGateway/bin
/OrdersService/obj
/OrdersService/bin
/ProductsServices/obj
/ProductsServices/bin
/ApiGateway/obj
/ApiGateway/bin
/OrdersService/obj
/OrdersService/bin
/ProductsServices/obj
/ProductsServices/bin
/.vs/ProjectEvaluation
/AuthService/obj
/AuthService/bin