################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiGateway.slnx/FileContentIndex
/.vs/ApiGateway.slnx
/ApiGateway/obj
/ApiGateway/bin
/OrdersService/obj
/OrdersService/bin
/ProductsServices/obj
/ProductsServices/bin
/.vs/ProjectEvaluation
/AuthService/bin/Debug/net10.0
/AuthService/obj
/AuthService/bin
